In [1]:
import matplotlib.pyplot as plt
import scipy.io
import numpy as np
import pandas as pd
import os
path=r'2nd_test'
filename = '2004.02.12.10.32.39'
dataset=pd.read_csv(os.path.join(path, filename), sep='\t',header=None)
dataset

           0      1      2      3
0     -0.049 -0.071 -0.132 -0.010
1     -0.042 -0.073 -0.007 -0.105
2      0.015  0.000  0.007  0.000
3     -0.051  0.020 -0.002  0.100
4     -0.107  0.010  0.127  0.054
...      ...    ...    ...    ...
20475  0.049 -0.051 -0.039 -0.044
20476  0.037  0.061  0.115  0.007
20477 -0.012  0.007  0.056 -0.007
20478 -0.012  0.093  0.017 -0.044
20479  0.020  0.076 -0.042 -0.029

[20480 rows x 4 columns]

In [8]:
dataset.isnull().sum()

0    0
1    0
2    0
3    0
dtype: int64

In [12]:
import numpy as np

arr = dataset[[0]]
arr.to_csv("accelerometer.csv",index=False)

In [13]:

# Load the accelerometer data into a numpy array
accelerometer_data = np.loadtxt("accelerometer.txt")

# Apply FFT to the accelerometer data
fft_data = np.fft.fft(accelerometer_data)

# Compute the magnitude of the FFT coefficients
magnitude = np.abs(fft_data)

# Normalize the magnitude data
magnitude /= magnitude.max()

In [19]:
magnitude

array([0.48040823, 0.00650003, 0.01892848, ..., 0.02103914, 0.01892848,
       0.00650003])

In [28]:
from scipy.fft import fft, fftfreq

SAMPLE_RATE = 20000
DURATION = 1
# Number of samples in normalized_tone
N = SAMPLE_RATE * DURATION

yf = fft(arr)
xf = fftfreq(N, 1 / SAMPLE_RATE)
x = np.abs(yf)
x
# plt.plot(xf, np.abs(yf))
# plt.show()

array([[0.049],
       [0.042],
       [0.015],
       ...,
       [0.012],
       [0.012],
       [0.02 ]])

In [27]:
np.all(x == magnitude)

False